.container {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}
.container h3{
    font-family: Jetbrains Mono;
    color: var(--primary-color);
    font-size: 1.4em;
}
.container ul {
    width: 100%;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    gap: 10%;
    padding: 0px;
    align-items: center;
    justify-content: center;
}
.technologies{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.technologies button {
    width: fit-content;
    padding: 0.5em 0.5em;
    border-radius: 15px; 
    margin: 0.2em; 
    background-color: transparent;
    color: #000;
}
/* Clases para cada tecnología */
.react {
    border: 1px solid #61dafb; 
    color: #fff;
}

.javascript {
    border: 1px solid #f0db4f; 
    color: #000;
    
}

.html {
    border: 1px solid #e34c26; 
    color: #fff;
    
}

.css {
    border: 1px solid #2965f1; 
    color: #fff;
    
}

.typescript {
    border: 1px solid #3178c6; 
    color: #fff;
    
}

.pokeapi {
    border: 1px solid #ef5350; 
    color: #fff;
    
}
.animations {
    border: 1px solid linear-gradient(45deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #3b1de8, #dd00f3, #ff2400);
    color: #fff; 
    
}