---
const { class: customClasses } = Astro.props;
---

<div
  class={`bg-transparent p-6 rounded-lg shadow-md border border-border-light dark:border-border-dark ${customClasses}`}
>
  <slot />
</div>
