
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.container h3 {
    font-family: 'Jetbrains Mono', monospace;
    color: var(--primary-color);
    font-size: 1.4em;
}

.container ul {
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1em; 

}

.container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.container ul li img {
    width: 50%;
    height: auto;
}