
.container {
    width: 100%;
    text-align: center;
    min-height: 50vh;
}
.container div {
    margin: 1em 0;
}

.container h3 {
    font-family: 'Jetbrains Mono', monospace;
    color: var(--primary-color);
    font-size: 1.4em;
}

.container ul {
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 0.8em; 

}

.slide {
    width: 100px;
    height: 100px;
}

.img {
    width: 60px;
    height: 60px;
    margin: auto;
}