---
import imcasero from "@assets/imcasero.webp";
import { Image } from "astro:assets";
import Card from "@components/shared/Card.astro";
---

<Card class="flex gap-4 items-center">
  <div>
    <h2 class="text-2xl font-medium mb-4">Diego Casero</h2>
    <p class="text-md prose dark:prose-invert flex">
      Frontend Developer with over a year of experience and a foundation in
      backend development. Passionate about coding, I continually seek to learn
      and refine my skills.
    </p>
    <p class="text-md prose dark:prose-invert">
      Known for being proactive and efficient, I’m dedicated to delivering
      high-quality, impactful solutions that enhance team projects and meet
      client needs.
    </p>
  </div>
  <div
    class="w-48 m-auto rounded-full border border-primary dark:border-border-dark"
  >
    <Image
      src={imcasero}
      alt="cat"
      class="rounded-full"
      loading="eager"
      transition:name="profile-img"
    />
  </div>
</Card>
