.container {
    font-family: Heebo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container h3{
    font-family: Jetbrains Mono;
    color: var(--primary-color);
    font-size: 1.4em;
}
.container .description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.container .description article{
    width: 100%;
}
.container .description img{
    display: none;
}

/* Extra small devices (phones) - Menor a 576px */
@media (max-width: 575.98px) {
    /* Estilos para dispositivos extra pequeños (teléfonos) */
}

/* Small devices (tablets) - 576px o mayor */
@media (min-width: 576px) {
    /* Estilos para dispositivos pequeños (tabletas) */
}

/* Medium devices (desktops) - 768px o mayor */
@media (min-width: 768px) {
    /* Estilos para dispositivos medianos (escritorios) */
}

/* Large devices (desktops) - 992px o mayor */
@media (min-width: 992px) {
    .container .description {
        width: 80%;
    }
    .container .description img{
        width: 30%;
        display: block;
    }
    .container .description article{
        width: 50%;
    }
}

/* Extra large devices (large desktops) - 1200px o mayor */
@media (min-width: 1200px) {
    .container .description {
        width: 80%;
    }
    .container .description img{
        display: block;
        width: 30%;
    }
    .container .description article{
        width: 50%;
    }
}


