.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.title{
    color: #000;
    text-align: center;
    font-family: JetBrains Mono;
    
}
.title h2{
    font-size: 1.2em;
    font-weight: 800;
}
.title h2 span {
    font-size: 1.2em;
    font-weight: 800;
    color: var(--primary-color);
    animation: cursorAnimation 1s infinite;
}
.title h3 {
    font-size: 1em;
    font-weight: 500;
    color: var(--primary-color);
}
.title p{
    font-size: 0.8em;
    font-family: Heebo;
    font-weight: 300;
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.contact a {
    width: 15%;
}
.contact a:hover img {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.contact a img {
    transition: transform 0.3s;
    max-width: 30%; 
    height: auto; 
}
@keyframes cursorAnimation {
    0% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}