.header {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: auto;
    background-color: white;
    min-height: 10vh;
}
  
nav ul {
    list-style: none;
    display: flex;
    gap: 50px; 
}

nav ul li{
    color: var(--primary-color);
    text-align: center;
    font-family: JetBrains Mono;
    font-size: .9em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a{
    color: var(--primary-color);
    text-decoration: none;
}
nav ul li a:hover {
    color: var(--darkened-primary-color-30);
}
.header h1 {
    color: var(--primary-color);
    font-family: JetBrains Mono;
    font-size: 1.5em;
    font-weight: 700;
}