---
import Step from "./ui/Step.astro";

const careers = [
  {
    job: "Front-end Developer",
    startDate: "August 2023",
    endDate: "present",
    company: "Globant",
    website: "https://www.globant.com/",
    description:
      "Development of interfaces using React, Angular, and styled with CSS/SASS for complex web applications. Collaboration with multidisciplinary teams to integrate design and functionality. Use of Git and GitHub for version control and Agile with Scrum for project collaboration.",
    techs: [
      "React",
      "Angular",
      "Typescript",
      "Javascript",
      "CSS",
      "SASS",
      "Jasmine",
      "Vitest",
      "TDD",
      "CI/CD",
      "AWS",
      "Scrum",
    ],
  },
  {
    job: "Full-stack Developer",
    startDate: "April 2023",
    endDate: "June 2023",
    company: "Inetum",
    website: "https://www.inetum.com/",
    description:
      "Interface layout tasks and utilization of the Figma platform for applications design. Backend development using .NET, contributing to the design and creation of robust solutions for specific projects.",
    techs: [
      "Javascript",
      "Bootstrap",
      "CSS",
      ".NET",
      "C#",
      "VB.NET",
      "Figma",
      "SQL",
    ],
  },
];
---

<section>
  <h2 class="font-semibold text-lg mb-4">Career</h2>
  <article class="flex flex-col gap-10 relative">
    {
      careers.map((career, index) => (
        <div class="flex items-start relative">
          <div class="flex flex-col items-center mr-4 relative">
            <div class="rounded-full h-4 w-4 border-teal-500 border-2 bg-white z-10 absolute top-1" />
            <hr
              class={`bg-teal-500 absolute bottom-0 h-[2px]  transform rotate-90 ${
                index === 0 ? "top-24 w-[200px]" : "top-0 w-[400px]"
              }`}
            />
          </div>
          <div class="flex-1">
            <Step {...career} />
          </div>
        </div>
      ))
    }
  </article>
</section>
