---
import { EmailIcon } from "./icons/Email";
import { GithubIcon } from "./icons/Github";
import { LinkedinIcon } from "./icons/Linkedin";
import { XIcon } from "./icons/X";



---

<footer class="w-full flex justify-between flex-row  py-11">
  <p>
    Developed by 
    <a href="" class="text-teal-400 font-semibold">@imcasero.dev</a> 
    with 💚
  </p>
  <div class="flex flex-row gap-11">
    <a href="http://">
      <LinkedinIcon/>
    </a>
    <a href="http://">
      <GithubIcon/>
    </a>
    <a href="http://">
      <XIcon/>
    </a>
    <a href="http://">
      <EmailIcon/>
    </a>
  </div>


</footer>
