---
import SocialMedia from "./SocialMedia.astro";
import { EmailIcon } from "./icons/Email";
import { GithubIcon } from "./icons/Github";
import { LinkedinIcon } from "./icons/Linkedin";
import { XIcon } from "./icons/X";



---

<footer class="w-full flex justify-between flex-row  py-11">
  <p>
    Developed by 
    <a href="" class="text-teal-400 font-semibold">@imcasero.dev</a> 
    with 💚
  </p>
  <SocialMedia additionalClasses="flex flex-row gap-11"/>
</footer>
