---
import SocialMedia from "./ui/SocialMedia.astro";
---

<footer class="w-full flex justify-between flex-row py-11 mt-4">
  <p>
    Developed by
    <a href="" class="text-teal-400 font-semibold">@imcasero.dev</a>
    with 💚
  </p>
  <SocialMedia additionalClasses="flex flex-row gap-11" />
</footer>
