---
import { EmailIcon } from "./icons/Email";
import { GithubIcon } from "./icons/Github";
import { LinkedinIcon } from "./icons/Linkedin";
import { XIcon } from "./icons/X";



---

<footer class="w-full flex justify-between flex-row  py-11">
  <p>
    Developed by 
    <a href="" class="text-teal-400 font-semibold">@imcasero.dev</a> 
    with 💚
  </p>
  <div class="flex flex-row gap-11">
    <a target="_blank" href="https://www.linkedin.com/in/imcasero/">
      <LinkedinIcon/>
    </a>
    <a target="_blank" href="https://github.com/imcasero">
      <GithubIcon/>
    </a>
    <a target="_blank" href="https://x.com/imcasero_dev">
      <XIcon/>
    </a>
    <a target="_blank" href="mailto:diegocaserosmr@gmail.com">
      <EmailIcon/>
    </a>
  </div>


</footer>
