---
import SocialMedia from "./SocialMedia.astro";

---
<section class="w-full">
  <img src="src/assets/cat_logo.jpg" alt="logo" class="mt-6">
  <h1 class="gradient-text font-black text-8xl my-8" >imcasero.dev </h1>
  <p>
    Hi, I'm Diego Casero, <span class="text-teal-500">frontend developer</span> with over a year of experience. I deeply enjoy writing code and always seek opportunities to grow and tackle challenges. Known by my coworkers as a proactive and efficient programmer, I give my best to deliver quality solutions.
  </p>
  <SocialMedia additionalClasses="flex justify-between my-9"/>

</section>
<style>
  .gradient-text {
      background: linear-gradient(to right, #14C5A2 0%, #5DEB98 95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
</style>