---
import Card from "./ui/Card.astro";

const projects = [
  { title: "Project 1", description: "Description of Project 1" },
  { title: "Project 2", description: "Description of Project 2" },
  { title: "Project 3", description: "Description of Project 3" },
  { title: "Project 4", description: "Description of Project 4" },
  { title: "Project 5", description: "Description of Project 5" },
  { title: "Project 6", description: "Description of Project 6" },
];
---

<section>
  <h2 class="font-semibold text-lg mb-6">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-9">
    {projects.map((project) => <Card {...projects} />)}
  </div>
</section>
