---
import AstroIcon from "@assets/icons/tech/AstroIcon.astro";
import NestIcon from "@assets/icons/tech/NestIcon.astro";
import NextIcon from "@assets/icons/tech/NextIcon.astro";
import ReactIcon from "@assets/icons/tech/ReactIcon.astro";
import TypescriptIcon from "@assets/icons/tech/TypescriptIcon.astro";
import Card from "@components/shared/Card.astro";

const { extraClass } = Astro.props;
---

<Card class=`flex flex-col gap-4 ${extraClass}`>
  <ul class="text-md flex flex-col gap-1">
    <li>
      - <span class="font-bold">Frontend</span> developer with <span
        class="text-primary font-bold">1+</span
      > year of experience and basic backend knowledge.
    </li>
    <li>
      - Skilled in <span class="font-bold">Next.js</span>, <span
        class="font-bold">React.js</span
      >, and <span class="font-bold">Astro</span>, focused on delivering quality
      solutions.
    </li>
    <li>- Proactive, efficient, and always seeking new challenges.</li>
  </ul>
  <div class="flex flex-col gap-2">
    <h3 class="text-sm font-bold">Favorite technologies:</h3>
    <div class="flex flex-row align-middle gap-2">
      <span
        class="py-1 px-1 border border-border-light rounded-md dark:border-border-dark"
      >
        <NextIcon />
      </span>
      <span
        class="py-1 px-1 border border-border-light rounded-md dark:border-border-dark"
      >
        <AstroIcon />
      </span>
      <span
        class="py-1 px-1 border border-border-light rounded-md dark:border-border-dark"
      >
        <ReactIcon />
      </span>
      <span
        class="py-1 px-1 border border-border-light rounded-md dark:border-border-dark"
      >
        <TypescriptIcon />
      </span>
      <span
        class="py-1 px-1 border border-border-light rounded-md dark:border-border-dark"
      >
        <NestIcon />
      </span>
    </div>
  </div>
</Card>
