---
import Card from "@components/shared/Card.astro";
import imcasero from "@assets/imcasero.webp";
import { Image } from "astro:assets";
import Github from "@assets/icons/rrss/Github.astro";
import Gmail from "@assets/icons/rrss/Gmail.astro";
import Linkedin from "@assets/icons/rrss/Linkedin.astro";
import X from "@assets/icons/rrss/X.astro";
import ArrowUpRight from "@assets/icons/ArrowUpRight.astro";

const { extraClass } = Astro.props;
---

<Card class=`flex flex-col justify-center align-middle gap-6 ${extraClass}`>
  <div class="w-36 m-auto">
    <Image src={imcasero} alt="cat" class="rounded-full" loading="eager" />
  </div>

  <span
    class="border border-primary w-fit py-1 px-4 rounded-3xl m-auto text-sm"
  >
    Working
  </span>

  <div class="flex m-auto justify-center align-middle gap-4 w-full">
    <button
      class="py-1 px-1 border border-border-light dark:border-border-dark rounded-lg hover:bg-accent-light dark:hover:bg-accent-dark"
    >
      <Linkedin />
    </button>
    <button
      class="py-1 px-1 border border-border-light dark:border-border-dark rounded-lg hover:bg-accent-light dark:hover:bg-accent-dark"
    >
      <Github />
    </button>
    <button
      class="py-1 px-1 border border-border-light dark:border-border-dark rounded-lg hover:bg-accent-light dark:hover:bg-accent-dark"
    >
      <Gmail />
    </button>
    <button
      class="py-1 px-1 border border-border-light dark:border-border-dark rounded-lg hover:bg-accent-light dark:hover:bg-accent-dark"
    >
      <X />
    </button>
  </div>

  <button
    class="w-fit m-auto flex flex-row items-center gap-1 py-1 px-4 rounded-md text-sm bg-background-dark text-text-dark hover:bg-accent-dark dark:bg-background-light dark:text-text-light dark:hover:bg-background-light transition group"
  >
    <p>More about me</p>
    <span
      class="transform transition-transform duration-300 group-hover:-translate-y-0.5"
    >
      <ArrowUpRight />
    </span>
  </button>
</Card>
