@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    /* Aqui agregar las variables de entorno de css */
    font-family: inter;
    --background : #272727;
    --color-light : #FFFFFF;
    --color-medium: #CCCCCC;
    --title-weight: 700;
    --subtitle-weight: 500;
    --normal-weight: 400;
    --ligh-weight: 300;
}
body{
    background-color: var(--background);
}
#root{
    align-items: center;
    display: flex;
    flex-direction: column;
}