---
import About from "@components/about/About.astro";
import Experience from "@components/experience/Experience.astro";
import ToggleButton from "@components/toggleButton/ToggleButton.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="imcasero | about me">
  <main class="min-h-screen w-[768px] m-auto px-8 py-4 flex flex-col gap-6">
    <About />
    <Experience />
  </main>
</Layout>
