---
import ReturnArrow from "@assets/icons/ReturnArrow.astro";
import About from "@components/about/About.astro";
import Experience from "@components/experience/Experience.astro";
import ToggleButton from "@components/toggleButton/ToggleButton.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="imcasero | about me">
  <main class="min-h-screen max-w-[768px] m-auto px-8 py-4 flex flex-col gap-6">
    <a
      href="/"
      class="flex items-center gap-2 text-primary hover:bg-accent-light dark:hover:bg-accent-dark w-fit p-2 rounded-md transition-colors"
    >
      <ReturnArrow />
    </a>
    <About />
    <Experience />
  </main>
</Layout>
