---

---

<h3 class="text-teal-500 font-bold mb-2">Lets talk!</h3>

<form
  id="contact-form"
  action="https://formspree.io/f/mdoqwzgy"
  method="POST"
  class="space-y-4"
>
  <label class="block text-sm font-medium">
    Your email:
    <input
      type="email"
      name="email"
      required
      class="border mt-2 py-2 h-auto block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-500 focus:ring focus:ring-teal-200 focus:ring-opacity-50"
    />
  </label>
  <label class="block text-sm font-medium">
    Your message:
    <textarea
      name="message"
      required
      class="border mt-2 block w-full py-2 h-auto rounded-md border-gray-300 shadow-sm focus:border-teal-500 focus:ring focus:ring-teal-200 focus:ring-opacity-50"
    ></textarea>
  </label>
  <button
    type="submit"
    class="w-full bg-teal-500 text-white rounded-md py-2 font-semibold hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
  >
    Send
  </button>
</form>
