---
import { EmailIcon } from "../icons/Email";
import { GithubIcon } from "../icons/Github";
import { LinkedinIcon } from "../icons/Linkedin";
import { XIcon } from "../icons/X";

const { additionalClasses = "" } = Astro.props;
---

<div class={`icons ${additionalClasses} flex space-x-4`}>
  <a
    target="_blank"
    href="https://www.linkedin.com/in/imcasero/"
    class="transition-transform duration-300 transform hover:scale-110 hover:cursor-pointer"
  >
    <LinkedinIcon />
  </a>
  <a
    target="_blank"
    href="https://github.com/imcasero"
    class="transition-transform duration-300 transform hover:scale-110 hover:cursor-pointer"
  >
    <GithubIcon />
  </a>
  <a
    target="_blank"
    href="https://x.com/imcasero_dev"
    class="transition-transform duration-300 transform hover:scale-110 hover:cursor-pointer"
  >
    <XIcon />
  </a>
  <a
    name="email-link"
    class="transition-transform duration-300 transform hover:scale-110 hover:cursor-pointer"
  >
    <EmailIcon />
  </a>
</div>
